node-red/flows.json
[
  {
    "id": "7a61ecbf.1649f4",
    "type": "mqtt in",
    "z": "248e95.7274416c",
    "name": "",
    "topic": "servicelocation/bce2f5a2-bafe-4fdc-b711-37eaa360f31a/realtime",
    "qos": "2",
    "datatype": "auto",
    "broker": "fba88b0a.01259",
    "x": 296.00782775878906,
    "y": 132.70784452557564,
    "wires": [["f8f9d9e2.97e688"]]
  },
  {
    "id": "f8f9d9e2.97e688",
    "type": "function",
    "z": "248e95.7274416c",
    "name": "parse JSON",
    "func": "msg.payload = JSON.parse(msg.payload)\n\nmsg1 = {};\nmsg1.measurement = \"totalPower\"\nmsg1.payload = msg.payload['totalPower']\n\nmsg2 = {};\nmsg2.measurement = \"totalReactivePower\"\nmsg2.payload = msg.payload['totalReactivePower']\nreturn [msg1, msg2];",
    "outputs": 2,
    "noerr": 0,
    "x": 676.0078277587891,
    "y": 132.70784452557564,
    "wires": [["2a9ca150.df0e4e", "9b6d76c.9d04588"], ["2a9ca150.df0e4e"]],
    "outputLabels": ["msg1", ""]
  },
  {
    "id": "2a9ca150.df0e4e",
    "type": "influxdb out",
    "z": "248e95.7274416c",
    "influxdb": "73d041ae.2c89d",
    "name": "",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "x": 936.0078277587891,
    "y": 192.70784452557564,
    "wires": []
  },
  {
    "id": "f01a8245.0f0d1",
    "type": "mqtt in",
    "z": "248e95.7274416c",
    "name": "",
    "topic": "/merakimv/Q2GV-QALW-575Y/light",
    "qos": "2",
    "datatype": "auto",
    "broker": "fba88b0a.01259",
    "x": 206.00782775878906,
    "y": 252.70784452557564,
    "wires": [["e9e30266.e0b51"]]
  },
  {
    "id": "e9e30266.e0b51",
    "type": "function",
    "z": "248e95.7274416c",
    "name": "parse JSON",
    "func": "msg.payload = JSON.parse(msg.payload)\n\nmsg1 = {};\nmsg1.measurement = \"lux\"\nmsg1.payload = parseFloat(msg.payload['lux'])\n\nreturn [msg1];",
    "outputs": 1,
    "noerr": 0,
    "x": 676.0078277587891,
    "y": 252.70784452557564,
    "wires": [["2a9ca150.df0e4e"]],
    "outputLabels": ["msg1", "", ""]
  },
  {
    "id": "3d1b0a4a.87f246",
    "type": "function",
    "z": "248e95.7274416c",
    "name": "parse JSON",
    "func": "msg.payload = JSON.parse(msg.payload)\n\nmsg1 = {};\nmsg1.measurement = \"temperature\"\nmsg1.payload = parseFloat(msg.payload['inTemp_C'])\n\nmsg2 = {};\nmsg2.measurement = \"humidity\"\nmsg2.payload = parseFloat(msg.payload['outHumidity'])\n\nmsg3 = {};\nmsg3.measurement = \"air_pressure\"\nmsg3.payload = parseFloat(msg.payload['barometer_mbar'])\n\nreturn [msg1, msg2, msg3];",
    "outputs": 3,
    "noerr": 0,
    "x": 676.0078277587891,
    "y": 192.70784452557564,
    "wires": [["2a9ca150.df0e4e"], ["2a9ca150.df0e4e"], ["2a9ca150.df0e4e"]],
    "outputLabels": ["msg1", "", ""]
  },
  {
    "id": "817edeab.8bfb",
    "type": "mqtt in",
    "z": "248e95.7274416c",
    "name": "",
    "topic": "meteocentrocadore/loop",
    "qos": "2",
    "datatype": "auto",
    "broker": "fba88b0a.01259",
    "x": 176.00782775878906,
    "y": 192.70784452557564,
    "wires": [["3d1b0a4a.87f246"]]
  },
  {
    "id": "9b6d76c.9d04588",
    "type": "debug",
    "z": "248e95.7274416c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 876.0078277587891,
    "y": 52.70784452557564,
    "wires": []
  },
  {
    "id": "fba88b0a.01259",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "73d041ae.2c89d",
    "type": "influxdb",
    "z": "248e95.7274416c",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "mydb",
    "name": "",
    "usetls": false,
    "tls": ""
  }
]
